body{
  background-color: white;
}

/* sucess view */
.success {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}
.success__container {
  background-color: rgba(255,255,255,0.1);
  border: 2px solid rgba(56, 56, 56, 0.1);
  border-radius: 40px;
  color: rgb(0, 0, 0);
  padding: 60px 40px 40px;
  min-height: 250px;
  width: 420px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.parrafo {
  text-align: center;
}
.success__container > h3, .success__container > a{
  margin-top: 10px;
  text-align: center;
}

/* form */
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
  }
  .form__container {
    border: 2px solid rgba(56, 56, 56, 0.1);
    border-radius: 40px;
    color: rgb(0, 0, 0);
    padding: 60px 40px 40px;
    min-height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .form__container > h3{
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    padding-bottom: 15px;
  }
  .form__container--form {
    display: flex;
    flex-direction: column;
  }
  .form__container--form > div > p{
    font-size: 9px;
    text-align: center;
  }
  #customFile {
    font-size: 13px;
  }

  .form__container--form > label{
    font-size: 11px;
  }

  .form-group{
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    justify-content: space-around;
  }

  .form-group-privacy{
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-bottom: 5px;
    justify-content: space-around;
  }

  .form-group > label {
    width: 200px;
    font-size: 14.5px;
    align-items: center;
  }
  .form-group > input {
    width: 220px;
    align-items: center;
    height: 25px;
  }
  .form-group > select {
    width: 220px;
    align-items: center;
    height: 25px;
    font-size: 14.5;
    padding-top: 0;
    padding-bottom: 0;
  }

  option {
    font-size: 14.5px;
  }

  #phone{
    width: 220px;
    height: 25px;
  }
  #radioOption{
    width: 15px;
    font-size: 9px;
  }
  #div1{
    display: flex;
    flex-direction: column;
  }
  #strengthMessage{
    text-align: center;
    font-size: 12px;
    padding: 5px;
    margin: 0;
  }
  #customFile{
    margin-bottom: 10px;
  }
   .form-group-privacy > div > p{
    font-size: 8.5px;
    padding-top: 2px;
    padding-left: 0px;
    margin-left: 3px;
    margin-bottom: 3px;
  }
  .form-group-privacy-a{
    font-size: 15px;
    padding-top: 15px;
    margin-bottom: 3px;
  }

  .form-group > div{
    display: flex;
    flex-direction: row;
  }

  .form-group-privacy > div{
    display: flex;
    flex-direction: row;
    width: 452px;
  }


  .form-group > div > label{
    padding-top: 5px;
  }

  .button{
    background-color: #00a1e6;
    border: none;
    border-radius: 25px;
    color:white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    letter-spacing: 1px;
    margin:10px 0px;
  }

  .success__container  > div > img {
    width: 300px;
    padding-bottom: 10px;
    display:block;
    margin:auto;  
  }
  
 /*  Responsive */
  @media only screen and (max-width: 400px){
  .form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .signup__container{
    width: 370px;
  }
  .signup__container > div > img {
    width: 200px;
  }
  .form-group > label {
    width: 285px;
  }
  .form-group > input {
    width: 285px;
  }
  .form-group > select {
    width: 285px;
  }
  #phone{
    width: 285px;
  }
}


